In [2]:
#Q4
import pandas as pd
#df=pd.read_csv()
#df=pd.read_excel()
df=pd.read_excel(r"D:\Workshop\Datascience\Breast-Cancer-Detection-using-Machine-Learning-master\Week 1 Dataset.xlsx")
print(df)
df[["Sex","Number of siblings"]]

  Name  Income per month          State  Age Sex  Number of siblings
0    A                50     Tamil Nadu   23   M                   0
1    B                34      Karnataka   37   F                   3
2    C                54     Tamil Nadu   35   F                   1
3    D                24  Uttar Pradesh   26   F                   4
4    E                19          Bihar   59   M                   5
5    F                21          Bihar   48   M                   6
6    G                40          Delhi   30   F                   2
7    H                20  Uttar Pradesh   72   M                  10
8    I                30      Telangana   22   F                   0
9    J                18    Chattisgarh   42   M                   7

  Sex  Number of siblings
0   M                   0
1   F                   3
2   F                   1
3   F                   4
4   M                   5
5   M                   6
6   F                   2
7   M                  10
8   F                   0
9   M                   7